{% extends "admin/base_site.html" %}

{% block title %}CircManager: Pulled Issue{% endblock %}

{% block content %}

<div id="content-main">

    <p>Success! Updated {{ rec_count }}
    record{{ rec_count|pluralize }}.</p>

    <p><a href="{% url admin:index %}">Back to admin</a>
    | <a href="{% url subs.views.pull_product %}">Pull other shipment</a>
    | <a href="{% url subs.views.ship_product %}">Ship other products</a>
        
    <p>The following customer{{ rec_count|pluralize }}
    {{ rec_count|pluralize:"was,were" }} updated:</p>

    <p>Records after update:</p>

<ul>
{% for val in q %}
    <li>{{ val }}</li>
{% endfor %}
</ul>

<p>Returns records prior to update:</p>

<ul>
{% for val in u %}
    <li>{{ val }}</li>
{% endfor %}
</ul>

</div>

{% endblock %}



