{% extends "admin/base_site.html" %}

{% block title %}CircManager: Pull Issue{% endblock %}

{% block content %}

<div id="content-main">

    <p>Use this form to recall your subscriptions after shipping
    a new issue or product.</p>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
