{% extends "admin/base_site.html" %}

{% block title %}CircManager: Product Shipping{% endblock %}

{% block content %}

    <h1>Ship Issues</h1>

    <p>Use this form to update your subscriptions after shipping
    a new issue or product.</p>

    {% if ship_form.errors %}
        <p style="color: red;">
            Please correct the error{{ ship_form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ ship_form.as_table }}
        </table>
        <input type="submit" value="Ship Product">
    </form>

    <br />
    <br />

    <h1>Pull Issues</h1>

    <p>Use this form to recall your subscriptions after shipping
    a new issue or product.</p>

    {% if pull_form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ pull_form.as_table }}
        </table>
        <input type="submit" value="Pull Product">
    </form>

{% endblock %}
